Source: cbpp-metapackage
Section: misc
Priority: optional
Maintainer: Ben Young <computermouth@crunchbangplusplus.org>
Build-Depends: debhelper (>= 13)
Standards-Version: 3.9.5
Homepage: https://crunchbangplusplus.org

Package: cbpp-metapackage
Architecture: all
Depends: ${misc:Depends}
Recommends: abiword, anacron, apt-xapian-index, arandr, arj, atril,
 bash-completion, bc, bzip2, catfish,
 cbpp-configs, cbpp-exit, cbpp-icon-theme, cbpp-lxdm-theme,
 cbpp-pipemenus, cbpp-ui-theme, cbpp-wallpapers, cbpp-welcome,
 compton, conky-all, cowsay, curl, debconf-utils,
 desktop-base, dmz-cursor-theme, dosfstools, e2fsprogs, eject, figlet,
 file-roller, filezilla, firefox-esr, fonts-freefont-ttf,
 fonts-liberation, ftp, galculator, gdebi, geany, geany-plugins,
 gigolo, gimp, gimp-plugin-registry, gmrun, gnome-icon-theme, gnumeric,
 gparted, gsimplecal, gtk2-engines-murrine, gvfs-fuse, hexchat, hsetroot,
 htop, ibus, jfsutils, lame, less, libnss-mdns, lxappearance, lxpolkit,
 lzop, mate-media, mate-power-manager, mate-settings-daemon-common, menu, mlocate,
 network-manager-gnome, network-manager-openvpn-gnome,
 network-manager-pptp-gnome, network-manager-vpnc-gnome, nitrogen,
 ntfs-3g, ntp, obapps, obconf, obmenu, openbox, openssh-client,
 os-prober, parcellite, pulseaudio, rpl,
 rsync, rzip, screen, scrot, sshfs, suckless-tools, synaptic, terminator,
 thunar, thunar-archive-plugin, thunar-media-tags-plugin, thunar-volman,
 tint2, transmission-gtk, tumbler, tumbler-plugins-extra, unace, unalz,
 unzip, usbutils, user-setup, viewnior, vlc, whois, wireless-tools,
 wmctrl, xdotool, xfburn, xfce4-notifyd,
 xfce4-screenshooter, xfsprogs, xinput, xorg, xscreensaver, xsel,
 xtightvncviewer, xz-utils, zenity, zip
Description: metapackage for CrunchBangPlusPlus
 Basic metapackage for CrunchBangPlusPlus.
